// out: custom-style.css

// LESS Variables
@base-color: @sapa-blue;
@bs-blue: #008cba;
@font: 'Roboto';
@link: lighten(@sapa-blue, 15%);
@link-hover: lighten(@sapa-blue, 30%);
@mp-blue: #0e619e;
@navbar-back: @base-color;
@navbar-back-hover: darken(@base-color, 4%);
@navbar-link: hsl(0, 0%, 80%);
@navbar-link-hover: hsl(0, 0%, 100%);
@sapa-blue: rgb(8, 54, 88);
@sapa-red: rgb(230, 55, 92);

// SCSS
:root {
  --breadcrumb-height: 40px;
}

a {
  color: @link;

  &:hover,
  &:focus {
    color: @link-hover;
  }

  &.unidentified {
    color: black;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font, sans-serif;
}

body {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
}

details {
  margin-bottom: 1rem;

  &[open] summary::after {
    content: " Hide";
  }

  &:not([open]) summary::after {
    content: " Show";
  }
}

h2 {
  margin: 0.25em 0 0.1em;
}

h5 {
  font-size: 1em;
  font-weight: 500;
}

nav.metaphacts-header-navbar {
  &.DEVELOPMENT,
  &.DEV,
  &.dev\.performing-arts\.ch {
    background: @sapa-red;
    background: repeating-linear-gradient(
      45deg,
      #c83535,
      #c83535 10px,
      #872828 10px,
      #87283d 20px
    ) !important;
  }

  &.LOCAL {
    background: @sapa-red;
    background: repeating-linear-gradient(
      45deg,
      #35c8ad,
      #35adc8 10px,
      #35c8ad 10px,
      #35adc8 20px
    ) !important;
  }
}

pdfjs-viewer-element {
  height: 100%;
}

#application {
  .metaphacts-header-navbar {
    li a {
      font-weight: normal;
    }
  }

  > div > .footer {
    background-color: @navbar-back;
  }
}

#sapa-parts-module {
  background-color: rgba(220, 216, 230, 0.575);
  padding-left: 2%;
  padding-right: 2%;

  > h5:first-child {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
  }

  h6 {
    margin-bottom: 1rem;

    a {
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
}

#tabs > .nav-tabs > li > a:hover {
  color: black;
}

#tabs > .nav-tabs > li > a,
.nav-tabs > .nav-link,
.open-sidebar__tabs > .nav-tabs > li > a,
.page__body-navtabs > .nav-tabs > li > a {
  color: black !important;
}

.bg-primary {
  background-color: @navbar-back !important; // navigation background

  .dropdown-menu {
    background-color: @navbar-back !important;

    .dropdown-item {
      &.active,
      &:focus,
      &:hover {
        color: @navbar-link-hover;
        background-color: @navbar-back-hover !important;
      }
    }

    > .active > a,
    > .active > a:hover,
    > li > a:hover {
      background-color: @navbar-back-hover !important;
    }
  }

  .navbar-brand,
  .navbar-dark .navbar-nav .nav-link {
    color: @navbar-link;
  }

  .navbar-brand {
    &:hover,
    &:focus {
      color: @navbar-link-hover;
    }
  }

  .navbar-nav > li > a {
    color: @navbar-link; // navigation link color

    &:hover,
    &:focus {
      color: @navbar-link-hover; // navigation link hover color
      background-color: @navbar-back-hover !important;
    }
  }
}

.btn {
  padding: 6px 10px;
}

.checkbox,
.control-label,
.help-block,
.radio,
label {
  font-size: 0.9em !important;
}

.container-fluid {
  padding-left: 24px; // brand distance left
}

.DataTable--table-grid-layout {
  margin-bottom: 30px;
}

div[data-radix-popper-content-wrapper] {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  transform: translate(0, 0) !important;
}

div.facet-relations {
  margin-top: 0;
}

div.facet__category-selector-holder,
div.facet__relation__values__filter {
  display: none;
}

div.form-section {
  font-weight: bold;
  font-size: 1.2em;
}

div.semantic-form {
  hr {
    border: 1px solid black;
  }
}

div.SemanticTreeInput--inputAndButtons {
  margin-bottom: 1em;
}

div.tree-view_children {
  span.Tree--leafNode {
    margin-left: 20px;
  }
}

.domainCard {
  h4 {
    font-size: 1.3em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }
}

.domainItems {
  a.domainItem,
  a.domainRemove,
  a.clearSearch {
    color: black;

    &:hover {
      color: black;
    }
  }
}

.footer {
  > .footer__pixel-groove {
    margin-top: 0;
    border-width: 0;
  }

  > .footer__outer-flex-row {
    padding: 16px 20px;
    background-color: @navbar-back;
  }
}

.footer__links-col {
  font-size: 0.7em;
}

.knowledgeGraphBar {
  &--expanded &__content {
    min-height: 8em !important;
  }

  &__bottomRow {
    padding-left: 0.2em !important;
  }

  &__content {
    border-bottom-width: 0 !important;
  }

  &__description {
    display: none;
  }

  &__graphInfos {
    p {
      font-size: 1em;
      margin: 0 0 0.2em !important;
    }
  }

  &__summary {
    margin-top: 1em;
    margin-left: 0.9em;
    margin-bottom: 1.2em;
  }

  &__summaryTitle {
    h1 {
      font-size: 1.8em !important;
      line-height: 1.1em !important;
      margin: 0 !important;
    }
  }

  &__toggle {
    display: none;
  }

  &__uriRow {
    font-size: 0.8em;
  }
}

.nav > li > a {
  &:hover,
  &:focus {
    background-color: hsl(0, 0%, 90%);
  }
}

.page-holder {
  padding-bottom: 4em;
}

.page__body-navtabs {
  a {
    border-radius: 4px 4px 0 0 !important;
  }

  a[data-rb-event-key="about"][aria-selected="false"],
  a[data-rb-event-key="groups"][aria-selected="false"],
  a[data-rb-event-key="venues"][aria-selected="false"],
  a[data-rb-event-key="persons"][aria-selected="false"],
  a[data-rb-event-key="producers"][aria-selected="false"],
  a[data-rb-event-key="productions"][aria-selected="false"],
  a[data-rb-event-key="management"][aria-selected="false"],
  a[data-rb-event-key="collections"][aria-selected="false"],
  a[data-rb-event-key="video"][aria-selected="false"] {
    border: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
    background-color: #efefef;
  }

  a[data-rb-event-key="ontodia"][aria-selected="false"],
  a[data-rb-event-key="statements"][aria-selected="false"],
  a[data-rb-event-key*="editing"][aria-selected="false"],
  a[data-rb-event-key="delete"][aria-selected="false"] {
    color: #999 !important;
  }
}

.page__header-description {
  padding-left: 1em;
  margin-bottom: 1.2em;

  p {
    margin: 0.4em 0;
  }
}

.pagination {
  margin: 0;
}

.ReorderableList--item-handle {
  z-index: 1000000;
}

.sapa-component {
  &.domain-cards-tabs {
    .nav {
      display: block;
    }

    .nav-link {
      padding: 0;

      &.active {
        background: none;
        border: none;

        button {
          background-color: @bs-blue;
        }
      }
    }
  }

  &.font-bold {
    font-weight: bold;
  }

  &.form-field-deprecated {
    span.semantic-form-input-decorator__label::after {
      content: " (deprecated)";
    }
  }

  &.panel-home-browse {
    padding-top: 3rem;
  }

  &.panel-home-search {
    padding: 3rem 0 1rem;
  }

  &.search-types {
    .nav-link {
      padding: 0;
      color: black;

      &.active {
        background: none;
        border: none;
        font-weight: bold;
      }
    }
  }
}

.semantic-form-input-decorator__label {
  font-weight: 500 !important;
}

span.Tree--leafNode {
  margin-left: 0;
}

.table {
  font-size: 1em;

  > tbody + tbody {
    border-top: 1px solid #DDD;
  }
}

.text-item {
  margin-bottom: 1rem;
}

.transform {
  &.capitalize-first {
    span {
      display: block;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}