<semantic-query
  query="SELECT ?performance WHERE {
    ?performance frbroo:R25_performed ?? .
  }" 
  template='{{> template-performances }}'>
>
  <template id='template-performances'>
      <h5>Performances</h5>
      {{#each bindings}}
      <div id='sapa-parts-module'>
        <br/>
        <b><semantic-link iri="{{performance.value}}"></semantic-link></b>
        
        <!-- additional type -->
        <semantic-query
          query="SELECT ?type WHERE {
            BIND(<{{performance.value}}> AS ?performance)
            {
              ?performance schema:additionalType ?type .
              BIND('1' as ?order)
            } UNION {
              ?performance crm:P2_has_type ?type .
              ?type skos:inScheme spav:hl .
              BIND('2' as ?order)
            }
          } ORDER BY ?order"
          template="{{> template-type}}">
          <template id="template-type">
            <ul class="list-unstyled">
            {{#each bindings}}
              <li>
                <mp-label iri="{{type.value}}"></mp-label>
              </li>
            {{/each}}
            </ul>
          </template>>
        </semantic-query>
        <!-- season -->
        <semantic-query
          query="SELECT ?season WHERE {
            BIND(<{{performance.value}}> AS ?performance)
            ?performance crm:P10_falls_within ?season .
          }"
          template="{{> template-season}}"
          >
            <template id="template-season">
              <ul class="list-unstyled">
              {{#each bindings}}
                <li>
                  <semantic-link iri="{{season.value}}"></semantic-link>
                </li>
              {{/each}}
              </ul>
            </template>
        </semantic-query>

        <!-- organiser -->
        <semantic-query
          query="SELECT ?group WHERE {
            BIND(<{{performance.value}}> AS ?PerfSerie)
            ?PerfSerie a frbroo:F31_Performance ;
                        frbroo:R25_performed ?PerfPlan;
                      schema:additionalType spav:hlser ; 
                      crm:P9_consists_of ?Activity. 
            ?Activity a crm:E7_Activity; 
                        crm:P2_has_type <http://vocab.performing-arts.ch/mupro>;#programmation 
                        crm:P14_carried_out_by ?group.
          }"
          template="{{> template-organiser}}"
        >
          <template id="template-organiser">
            <h5>[[i18n "field_organised_by" bundle="sapa-fields"]]</h5>
            <ul class="list-unstyled">
              {{#each bindings}}
                <li>
                  <mp-label iri="{{group.value}}"></mp-label>
                </li>
              {{/each}}
              </ul>
          </template>
        </semantic-query>

        <!-- overall responsibility functions - overall responsibility 
        {{> sapaModule:ShowActivities function="spav:mures" resource=performance.value}}
        -->

        <!-- venue -->
        <semantic-query 
          query='SELECT ?type ?venue ?unidentified
          WHERE {
              VALUES (?type) {
                  (spav:dwmkn) # venue
              }
              BIND(<{{performance.value}}> AS ?performance)
              ?performance crm:P8_took_place_on_or_within ?venue .
              BIND(IF(CONTAINS(STR($venue), "/u/"), "true", "") AS ?unidentified)
          }'
          template="{{> template-venue}}"
        >
          <template id="template-venue">
            <h5><mp-label iri="[[resolvePrefix "spav:dwmkn"]]"></mp-label></h5>
            <ul class="list-unstyled">
            {{#each bindings}}
              <li>
                {{#if unidentified.value}}<mp-label iri="{{venue.value}}"></mp-label>{{else}}<semantic-link iri="{{venue.value}}"></semantic-link>{{/if}}
              </li>
            {{/each}}
            </ul>
          </template>
        </semantic-query>

        <!-- dates and type -->
        <semantic-query
          query="SELECT ?date_begin ?date_end ?subPerformance ?premiereType WHERE {
            BIND(<{{performance.value}}> AS ?performance)
            ?subPerformance crm:P9i_forms_part_of ?performance .
            ?subPerformance crm:P4_has_time-span ?timespan .
            ?timespan crm:P82a_begin_of_the_begin ?date_begin ;
              crm:P82b_end_of_the_end ?date_end .
            OPTIONAL {
              ?subPerformance crm:P2_has_type ?premiereType .
              ?premiereType skos:inScheme spav:hl .
            }
          }"
          template="{{> template-dates}}"
          >
            <template id="template-dates">
              <h5>Dates</h5>
              <ul class="list-unstyled">
              {{#each bindings}}
                <li>
                  <semantic-link iri="{{subPerformance.value}}">{{dateTimeFormat date_begin.value "DD.MM.YYYY"}}{{#ifCond date_begin.value "==" date_end.value}}{{else}} - {{dateTimeFormat date_end.value "DD.MM.YYYY"}}{{/ifCond}}</semantic-link>
                  {{#if premiereType.value}}<br><mp-label iri="{{premiereType.value}}"></mp-label>{{/if}}
                </li>
              {{/each}}
              </ul>
            </template>
        </semantic-query>

        {{> sapaModule:ShowActivitiesGeneric function="false" resource=performance.value}}

        <hr />
      </div>
      {{/each}}      
  </template>
</semantic-query>