[[> sapaModule:FieldDefinitions]]

<div data-flex-layout='row top-stretch'>
    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/w/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='ldp' 
      form-id='performancePlan'
      fields='[
        [[> RDFtype]],
        [[> MusicTitle]],
        [[> RDFSComment]],
        [[> SameAs]],
        [[> BaseOn]],
        [[> TitleEntity_Unique]],
        [[> IdentifierBy]],
        [[> PerformanceNote_Entity]],
        [[> ExpressionCreation_Created]],
        [[> RDFSLabel_Automatique]],
        [[> IsRealisedIn]]
      ]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>

        <!-- Definition type of triple -->
        <div style="display: none;">
          <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "frbroo:F25_Performance_Plan"]]'></semantic-form-hidden-input>
        </div>
        <!-- ================================= Performance Work ================================= -->
        <semantic-form-composite-input for="IsRealisedIn"
          new-subject-template='http://data.performing-arts.ch/u/{{UUID}}'
          fields='[
            [[> RDFtype]],
            [[> GroupGenre]],
            [[> InLanguage]],
            [[> SubTitleLanguage]]
          ]'
        >
          <div style="display: none;">
            <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "frbroo:F20_Performance_Work"]]'></semantic-form-hidden-input>            
          </div>
          <bs-row>
            <bs-col sm='4'>
              <!-- Genre -->
              <semantic-form-tree-picker-input for="GroupGenre"></semantic-form-tree-picker-input> 
            </bs-col>
            <bs-col sm='4'>
              <!-- Linguage -->
              <semantic-form-autocomplete-input for="InLanguage"></semantic-form-autocomplete-input>
            </bs-col>
            <bs-col sm='4'>
              <!-- Sub Title -->
              <semantic-form-autocomplete-input for="SubTitleLanguage"></semantic-form-autocomplete-input>
            </bs-col>
          </bs-row>
        </semantic-form-composite-input>
        <hr/>
        <!-- ================================= Performance Plan ================================= -->        
        <!-- ID externe -->
        <semantic-form-text-input for="SameAs"></semantic-form-text-input>
        <!-- Music title -->
        <semantic-form-text-input for="MusicTitle"></semantic-form-text-input>
        <!-- Comments -->
        <semantic-form-text-input for="RDFSComment"></semantic-form-text-input>
        
        <!-- Base On -->
        <semantic-form-autocomplete-input for="BaseOn"></semantic-form-autocomplete-input>

        <!-- Title --> 
        <semantic-form-composite-input for="TitleEntity_Unique"
          new-subject-template='/title'
          fields='[
              [[> RDFtype]],
              [[> TitleType]],
              [[> Title_Label_Value]]                
            ]'
        >
          <div style="display: none;">
            <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "crm:E35_Title"]]'></semantic-form-hidden-input>
          </div>
          <bs-row>
            <bs-col sm='2'>
              <semantic-form-tree-picker-input for="TitleType"></semantic-form-tree-picker-input>
            </bs-col>
            <bs-col sm='8'>
              <semantic-form-text-input for="Title_Label_Value" languages='["en","de","it","fr"]' ></semantic-form-text-input>                
            </bs-col>
          </bs-row>
        </semantic-form-composite-input>

        <!-- Label for default is Title Value -->
        <div style="display: none;">
          <semantic-form-text-input for="RDFSLabel_Automatique"></semantic-form-text-input>
        </div>
  
        <!-- Identifier -->
        <semantic-form-composite-input for="IdentifierBy"
          new-subject-template='/identifier'
          fields='[
              [[> RDFtype]],
              [[> IdentifierType_Tree]],
              [[> IdentifierValue]]
            ]'
        > 
          <div style="display: none;">
            <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "crm:E42_Identifier"]]'></semantic-form-hidden-input>
          </div>
          <bs-row>
            <bs-col sm='2'>
              <semantic-form-tree-picker-input for="IdentifierType_Tree"></semantic-form-tree-picker-input>
            </bs-col>
            <bs-col sm='10'>
              <semantic-form-text-input for="IdentifierValue" languages='["en","de","it","fr"]' ></semantic-form-text-input>
            </bs-col>
          </bs-row>
        </semantic-form-composite-input>

        <!-- Notes -->
        <semantic-form-composite-input for="PerformanceNote_Entity"
        new-subject-template='http://data.performing-arts.ch/x/{{UUID}}'
        fields='[
            [[> RDFtype]],
            [[> RecordingNoteType_]],
            [[> RecordingNoteValue_]]
          ]'
      > 
        <div style="display: none;">
          <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "crm:E33_Linguistic_Object"]]'></semantic-form-hidden-input>
        </div>
        <bs-row>
          <bs-col sm='2'>
            <semantic-form-tree-picker-input for="RecordingNoteType_"></semantic-form-tree-picker-input>
          </bs-col>
          <bs-col sm='10'>
            <semantic-form-text-input for="RecordingNoteValue_" languages='["en","de","it","fr"]' ></semantic-form-text-input>              
          </bs-col>
        </bs-row>
        </semantic-form-composite-input>

        <hr/>
        <!-- ================================= Expression creation: Performance Plan ================================= -->
        <semantic-form-composite-input for="ExpressionCreation_Created"
          new-subject-template='http://data.performing-arts.ch/x/{{UUID}}'
          fields='[
              [[> RDFtype]],
              [[> ActivityConsistsOf]],
              [[> ExpressionCreation_CreatedARealisationOf]]
            ]'
        >
          <div style="display: none;">
            <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "frbroo:F28_Expression_Creation"]]'></semantic-form-hidden-input>
            <semantic-form-hidden-input for="ExpressionCreation_CreatedARealisationOf"/></semantic-form-hidden-input>
          </div>
          <!-- =============== Activity =============== -->
          <bs-row>
            <semantic-form-composite-input for="ActivityConsistsOf"
                new-subject-template='http://data.performing-arts.ch/x/{{UUID}}'
                fields='[
                  [[> RDFtype]],
                  [[> ActivityHasType]],
                  [[> ActivityAdditionalType]],
                  [[> ActivityCarriedOutBy]],
                  [[> ActivityCertainty]],
                  [[> RDFSComment]]
                ]'>
                <div style="display: none;">
                  <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "crm:E7_Activity"]]'></semantic-form-hidden-input>
                </div>
                <bs-row>
                  <bs-col sm='2'>
                    <!-- Activity Type -->
                    <semantic-form-tree-picker-input for="ActivityHasType"></semantic-form-tree-picker-input>
                  </bs-col>
                  <bs-col sm='2'>
                    <!-- Additional Type -->
                    <semantic-form-tree-picker-input for="ActivityAdditionalType"></semantic-form-tree-picker-input>
                  </bs-col>              
                  <!-- Carried out by  -->
                  <bs-col sm='2'>
                    <semantic-form-autocomplete-input for="ActivityCarriedOutBy" placeholder='Search persons...'></semantic-form-autocomplete-input>
                  </bs-col>
                  <!-- certainty -->
                  <bs-col sm='2'>
                    <semantic-form-checklist-input row=true for="ActivityCertainty"></semantic-form-checklist-input>
                  </bs-col>                             
                </bs-row> 
                <!-- Comment -->
                <bs-row>
                  <bs-col sm='10'>
                    <semantic-form-text-input for="RDFSComment" languages='["en","de","it","fr"]' ></semantic-form-text-input>
                  </bs-col>
                </bs-row>
            </semantic-form-composite-input>
          </bs-row>
        </semantic-form-composite-input>
        <br/>
        <!-- ================================= Button ================================= -->
        <semantic-form-errors></semantic-form-errors>
        <button name="submit" class="btn btn-secondary">[[i18n "FormSubmit" bundle="performing-arts-ch"]]</button>
        <button name="reset" class="btn btn-secondary">[[i18n "FormReset" bundle="performing-arts-ch"]]</button>
    </bs-panel>
  </semantic-form>
</div>
