<style>
  .LazyTree--decoratedNodeBody {
    display: none;
  }
</style>

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    Archival Locations
  </li>
</ol>

<div class="page rs-page">
  <div class='page__body'>
    <h3 style="margin-top: 2em; margin-bottom: 1em;">Archival Locations</h3>
    <div style="height: 1000px">
      <semantic-lazy-tree
        type='query'
        config='{
          "rootsQuery": "SELECT DISTINCT ?item ?label ?hasChildren WHERE {
              ?item a spao:ArchivalPlace .
                MINUS { ?item rico:containedBy ?parent .}
              ?item rdfs:label ?label .
              OPTIONAL { ?child rico:containedBy ?item }
              BIND(IF(BOUND(?child), true, false) AS ?hasChildren)
            }",
          "childrenQuery": "SELECT DISTINCT ?item ?label ?hasChildren WHERE {
              ?item rico:containedBy ?parent ;
                rdfs:label ?label .
              OPTIONAL { ?child rico:containedBy ?item }
              BIND(IF(BOUND(?child), true, false) AS ?hasChildren)
            }",
          "parentsQuery": "SELECT ?item ?parent ?parentLabel WHERE {
              ?item rico:containedBy ?parent .
              ?parent rdfs:label ?parentLabel .
            }",
          "searchQuery": "SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
              ?item a spao:ArchivalPlace ;
                rdfs:label ?label .
              FILTER(REGEX(?label, ?__token__, "i"))
              BIND(false AS ?hasChildren)
            } ORDER BY DESC (?score) (?label) LIMIT 500"
        }'
        info-template="{{> node-template}}"
      >
        <template id="node-template">
          <semantic-link iri="{{iri}}"></semantic-link>
        </template>
      </semantic-lazy-tree>
    </div>
  </div>
</div>