<semantic-query
  query="SELECT DISTINCT ?nonPerformativeWork
        WHERE {
            ?? frbroo:R14_incorporates ?nonPerformativeWork .
            ?expressioncreation frbroo:R17_created ?nonPerformativeWork .
        }" 
  template='{{> template-NonPerformativeWork }}'>>

<template id='template-NonPerformativeWork'>

    {{#each bindings}}
        <div class="sapa-parts-module-nonperformativework">
            <!-- Non-Performative Expression -->
            <h5><semantic-link iri="{{nonPerformativeWork.value}}"></semantic-link></h5>

            <semantic-query 
                query='SELECT DISTINCT ?nPerformaceWork ?typeActivity
                WHERE {
                    BIND(<{{nonPerformativeWork.value}}> AS ?nPerformaceWork)
                    ?expressioncreation frbroo:R17_created ?nPerformaceWork ;
                                        crm:P9_consists_of ?activity .
                    ?activity crm:P2_has_type ?typeActivity .
                } 
                ORDER BY ASC(?typeActivity)'
                template='{{> template-NonPerformativeWork-Activities }}'
                >
                <template id="template-NonPerformativeWork-Activities">
                    <ul class="list-unstyled" style="margin-bottom: 0.3em;">
                        
                        {{#each bindings}}
                            <!-- Name pf Vocabulary -->
                            <h5><mp-label iri="{{typeActivity.value}}"></mp-label></h5>
                            
                            <semantic-query 
                                query='SELECT DISTINCT ?actor ?index ?activitylabel ?activitycomment ?bool
                                WHERE {
                                    BIND(<{{nPerformaceWork.value}}> AS ?nPerformaceWork)
                                    BIND(<{{typeActivity.value}}> AS ?function)
                                    ?expressioncreation frbroo:R17_created ?nPerformaceWork ;
                                                        crm:P9_consists_of ?activity .
                                    ?activity crm:P2_has_type ?function ;
                                                crm:P14_carried_out_by ?actor .
                                    OPTIONAL { ?activity olo:index ?index . }
                                    OPTIONAL { ?activity rdfs:label ?activitylabel . }
                                    OPTIONAL { ?activity rdfs:comment ?activitycomment . }
                                    BIND(IF(!CONTAINS(STR($actor), "/u/"), "true","") AS ?bool) 
                                } 
                                ORDER BY ASC(?index)'
                                template='{{> template-NonPerformativeWork-Activities }}'
                                >
                                <template id="template-NonPerformativeWork-Activities">
                                    {{#each bindings}}
                                        <li style="margin-bottom: 0.3em;">
                                            {{#if bool.value}} 
                                                <semantic-link iri="{{actor.value}}"></semantic-link>                        
                                            {{else}}
                                            <mp-label iri="{{actor.value}}"></mp-label>                        
                                            {{/if}}
                                            {{#if activitylabel}} ({{activitylabel.value}}){{/if}}{{#if activitycomment}} [{{activitycomment.value}}]{{/if}}                            
                                        </li>
                                    {{/each}}                    
                                </template>    
                            </semantic-query>                                                      
                        {{/each}}
                    </ul>
                </template>
            </semantic-query>                   
        </div>
    {{/each}}
</template>
