<bs-tab event-key='statements' title='Statements'>
[[> sapaModule:SourceStatements]]
</bs-tab>

<bs-tab event-key='ontodia' title='Ontodia'>

    <div style="
    width: 100%;
    height: calc(100vh - 400px);">
      <ontodia id='ontodia' 
            hide-toolbar=true 
            hide-panels=true 
            hide-scroll-bars=true 
            hide-navigation-confirmation=true 
            auto-zoom=true 
            settings=nostats 
            iri='[[this]]' 
        ></ontodia>
    </div>

</bs-tab>